---
layout: default
---
<h1>FAQ - Häufig gestellte Fragen</h1>
<div class="article">
    <div class="pi-faq-item-wrapper">
        {% for page in site.pages %}
        {% if page.url contains "/de/faq/" %}

        <a href="{{ site.baseurl }}{{ page.url }}"><div class="pi-faq-item">
            {{ page.title }}
        </div></a>

        <div class="post-description">
            {{ page.description }}
        </div>

        {% endif %}
        {% endfor %}
    </div>
</div>
