---
layout: default
---

<div class="article">
{%for post in site.posts %}
    {% unless post.next %}
    <div class="pi-h2-alt">{{ post.date | date: '%Y' }}</div>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
    <div class="pi-h2-alt">{{ post.date | date: '%Y' }}</div>
            <ul>
        {% endif %}
    {% endunless %}
    <li><div class="post-date">
        {% assign date_format = site.date_format.archive %}
        {{ post.date | date: date_format }} </div><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
