---
layout: default
---

<div class="article">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <div class="pi-h2-alt">{{ category[0] | capitalize }}</div>
    <ul>
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><div class="post-date">
                    {% assign date_format = site.date_format.categories %}
                    {{ node.date | date: date_format }} </div><a href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
{% endfor %}
</div>
