---
layout: default
---
<div class="pi-h2">Überblick Dokumentation</div>
<div class="article">
    <div class="post-content">
        <p><img style="width: 100%" src="{{ site.baseurl}}/assets/images/top-banner.jpg" alt="Banner"/></p>
        <p>CTC-System ist eine Modellbahnsteuerung die komplett auf einem WiFi-Netz (WLAN) basiert.
            Einen ersten Überblick gibt Ihnen der Artikel <a href="{{ site.baseurl }}/de/intro.html">Einführung in CTC</a>.
        </p>

        <h2 style="color:#73cb60;font-weight: bold">CTC auf YouTube</h2>
        <p>Auf <a href="https://www.youtube.com/@clevertraincontrol">unserem YouTube-Kanal</a> finden Sie eine Einführung zu CTC
            und einen Film zum Einbau von CTC-Modulen in Weichen und Loks.
        </p>
        <p>MärklinInsiderGermany berichtet im Kontext von <a href="https://www.youtube.com/watch?v=SBLyoxxGB5s&t=1118s">Intermodellbau Dortmund 2024</a> über CTC.
        </p>
        <p>Bei der <a href="https://www.youtube.com/watch?v=1Oake1iv1yI&t=15600s">Live-Aufzeichnung zum Tag der Modelleisenbahn 2023</a> konnten wir auch dabei sein.
        </p>
        <p>Das Bahnfeld-Projekt der <a href="https://www.th-brandenburg.de">TH Brandenburg</a> nutzt CTC-Module in Duplo-Loks mit Akku-Betrieb.
            Was dabei herauskommt, zeigt eindrucksvoll <a href="https://www.youtube.com/watch?v=DDYexn3WwIQ">dieses YouTube-Video</a>.
        </p>

        <h2>Artikelserie zu CTC Version 4</h2>
        <p>Mit CTC Version 4 kommen unsere IR-Sender bzw. NFC-Tags so richtig in Fahrt!
            Automatikbetrieb und Zugsicherung nach dem Vorbild der echten Bahn (ETCS) werden damit zum Kinderspiel.
        </p>
        <p><b>Die neue Artikelserie <a href="{{ site.baseurl }}/automatisierung/2022/08/12/Automatisierung-im-Garten-1.html">Automatisierung im Garten</a> liefert eine schrittweise Einführung.</b></p>

        <h2 style="color:#73cb60;font-weight: bold">Messen und Ausstellungen</h2><UL>
            <LI>Vom 08. bis 10. März 2024 waren wir auf der <a href="https://www.faszination-modellbahn.com/">Faszination Modellbahn</a> in Mannheim.</LI>
            <LI>Vom 18. bis 21. April 2024 waren wir auf der <a href="https://www.intermodellbau.de/">Intermodellbau</a> in Dortmund.</LI>
            <LI>Vom 18. bis 20. Mai 2024 (Pfingsten) waren wir auf der <a href="https://www.modellbahnausstellung.ch/">modellbahnausstellung.ch</a> in Burgdorf (CH).</LI>
            <LI>Vom 11. bis 13. Oktober 2024> waren wir auf der <a href="https://plattformderkleinserie.clubdesk.com/">Plattform der Kleinserie</a> in Bauma (CH).</LI>
            <LI>Vom 01. bis 03. November 2024 waren wir auf der <a href="https://www.faszination-modellbau.de/">Internationalen Modellbahn-Ausstellung (IMA)</a> in Friedrichshafen.</LI>
            <LI>Vom <b>10. bis 13. April 2025</b> sind wir wieder auf der <a href="https://www.intermodellbau.de/">Intermodellbau</a> in Dortmund in Halle 4 (Stand 4.E04).</LI>
        </UL></p>
        <p>Ein Eindruck unserer Messe-Auftritte liefert das
            <a href="https://www.instagram.com/reel/CrYL6NdpZBJ/?igshid=MDJmNzVkMjY=">Video im Instagram-Auftritt der Messe Dortmund 2023.</a>
        </p>

        <h2>Open-Source</h2>
        <p>Für uns war schon zu Anfang klar, dass wir einen großen Teil der Entwicklung als Open-Source veröffentlichen wollen.
            Unter dem Arbeitstitel "<b>PI-Rail</b>" präsentieren wir an dieser Stelle den Zugang zur Community: <a href="https://pi-rail.org">https://pi-rail.org</a>
        </p>
        <h3>Die Presse über CTC-System</h3>
        <p>Bei der Presse stößt CTC auf großes Interesse und Begeisterung.
            So schreibt z.B. <b>Heiko Herholz</b> in der Loki 5/2021: <b><i>"Das CleverTrainControl-System ist die Erfüllung vieler Träume: ein System bei dem zwei Kabel zum Gleis als Stromversorgung reichen."</i></b>
        </p>
        <p>Eine Übersicht über alle Veröffentlichungen finden Sie auf der Seite <a href="{{ site.baseurl }}/de/presse.html">"Die Presse über CTC"</a>.
        </p>

        <h2>Vorträge</h2>
        <ul>
            <li>Auf dem JavaForm Stuttgart, das 2020 wie so vieles Online stattfand, berichtete unser Chef-Entwickler Peter Rudolph über die Basis-Technologie hinter CTC:
                <a href="https://www.java-forum-stuttgart.de/de/Slot+1+2020.html#A1">Modellbahnsteuerung per WiFi mit Arduino und Java</a></li>
        </ul>

        <h2>Bestellvorgang</h2>
        <p>Noch gibt es keinen Online-Shop, über den die CTC-Produkte bestellen können und auch noch keine Handelspartner.
            Deshalb schreiben Sie bitte zur Bestellung aus <b>Deutschland und EU</b> eine <a href="mailto:info@ctc-system.de?subject=CTC Bestellung">E-Mail an info@ctc-system.de</a>
            und zur Bestellung aus der <b>Schweiz</b> eine <a href="mailto:info@ctc-system.de?subject=CTC Bestellung">E-Mail an info@rail4you.ch</a>.
            Die aktuelle Preisliste senden wir ihnen gerne per E-Mail zu.
        </p>
    </div>
</div>
