---
layout: empty_page_container
---

<style>

    .grid-item-special {
        background: #1C475F;
        color: #ffffff;
    }

    .grid-item-special > .pi-index-heading {
        color: #ffffff;
        padding: 0.5em 0;
    }

    .pi-index-image-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pi-index-image-container {
        width: 33%;
    }

    .grid-item-image > .pi-index-heading {
        width: 100%;
        background: #286587;
        color: #ffffff;
        padding: 0.5em 0;
        border-radius: 8px;
        margin-bottom: 0.5em;
        text-align: center;
    }

    a > .grid-item:hover {
        background: #286587;
        color: #ffffff;
    }

    a > .grid-item:hover > .pi-index-heading {
        color:#ffffff;
    }

</style>

<div class="pi-content-layout-wrapper">

    <div class="pi-content-layout-wrapper-inner">


        <div class="pi-index-image-container">
            <div class="pi-index-image-box">

            </div>

            <div class="pi-index-image-box">

            </div>
        </div>


        <div class="grid-container">


            <div class="grid-item grid-item-extra-wide grid-item-image">
                <div class="pi-index-heading">Screenshot der CTC-Desktop-APP</div>
                <img src="{{ site.baseurl }}/assets/images/Screenshot_PC_Test-Anlage.png" width="70%"
                     alt="Screenshot aus der CTC-App">
            </div>


            <div class="grid-item grid-item-small grid-item-special">
                <div class="pi-index-heading">Hans-Jürgen Götz in DiMo 3-2020</div>
                <p><i>“Technologisch rückt die WLAN-Anwendung die
                    Modellbahn in die Jetztzeit, so wie vor 40 Jahren die klassischen Digitalprotokolle die
                    Modellbahn in die damalige elektronische Jetztzeit führten.”</i></p>

                <div class="pi-index-heading" style="margin-top: 2em;">So einfach gehts</div>
                <p>Ein CTC-System besteht aus folgenden Grundbausteinen:</p>
                <ul>
                    <li><b>CTC-Lokmodule</b> zum Einbau in Lokomotiven</li>
                    <li><b>CTC-Weichenmodule</b> und CTC-Multi-IO-Board zum Schalten.</li>
                    <li>WLAN-Router oder vorkonfigurierte CTC-Router.</li>
                    <li>Spannungsversorgung (ab 9 Volt bis max. 24 Volt): Netzteil, Akkus, Batterien oder
                        die bereits vorhandene analoge oder digitale Stromversorgung.
                    </li>
                    <li><b>CTC-App</b> für PC (Linux, Mac, Windows) sowie Tablet und SmartPhone (iOS, Android).</li>
                </ul>
            </div>

            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Für den Automatikbetrieb</div>
                <p>Für den Automatikbetrieb kommen noch hinzu:</p>
                <ul>
                    <li>Positionsmelder (Balisen) zum Einbau ins Gleis und dazu passende Empfänger zum Einbau in die
                        Lok. Die Balisen übermitteln auch Befehle wie z.B. <i>in 60 cm Halt vor rotem Signal</i>.
                    </li>
                    <li>NFC-Reader unterm Gleis und passende Klebetags für Waggons. Damit können Waggons erkannt
                        und Achsen gezählt werden.
                    </li>
                </ul>
            </div>

            <a href="{{ site.baseurl }}/blick-ins-labor/2020/08/22/Blick-ins-Labor.html">
            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Blick ins Labor</div>
                <img src="{{ site.baseurl }}/assets/images/Blick-ins-Labor.jpg" width="100%"
                     alt="Bild des CTC-Entwicklers in seinem Entwicklungsschreibtisch">
            </div>
            </a>

            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">EINE Steuerung - egal ob: Strom übers Gleis, Akku oder Echtdampf.</div>
                <p><i>Eine zentrale Elektronik (Digitalzentrale) benötigt CTC nicht, und auch keine Booster,
                    Bremsmodule, Sensorbusse, etc.</i></p>
            </div>


            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Smartere Loks</div>
                <p>Die <b>Lokomotiven steuern sich selbst</b> und können so z.B. ohne Zutun einer zentralen
                    Steuerung punktgenau vor einem roten Signal halten, nachdem sie über eine
                    Balise vom roten Signal erfahren haben.</p>
                <p>Alle anderen zentralen Steuerungsaufgaben übernimmt die <b>CTC-App</b>.
                    Der Betrieb mit mehreren Personen ist selbstverständlich möglich.</p>
            </div>
            <div class="grid-item grid-item-small grid-item-special">
                <div class="pi-index-heading">Kommunikation per WLAN</div>
                <p>Die Kommunikation zwischen <b>CTC-App</b> (Fahrregler, Schaltpult) und <b>CTC-Modulen</b> in z.B.
                    Loks, Weichen und Signalen erfolgt ausschließlich per <b>WLAN</b> (WiFi).</p>
                <p>Das Gleis dient höchstens noch der Stromversorgung.</p>
            </div>


            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Akku & Echtdampfbetrieb</div>
                <p>Akku- und Echtdampfbetrieb lassen sich nahtlos integrieren. CTC-Loks fahren auch mit
                    Digitalstrom oder auf einer Analog-Anlage bei voll aufgedrehtem Fahrregler (Trafo).</p>
            </div>
            <div class="grid-item grid-item-wide">
                <div class="pi-index-heading">Zugsicherung wie beim großen Vorbild</div>
                <p>An Sensoren braucht es für CTC nichts anderes als Balisen im Gleis und zugehörige Empfänger in
                    der Lok - nahezu identisch zu ETCS beim großen Vorbild.</p>
            </div>

            <div class="grid-item grid-item-wide">
                <img src="{{ site.baseurl }}/assets/images/Loks-umbauen-Bild1.jpg" width="100%"
                     alt="Screenshot aus der CTC-App">
            </div>

            <div class="grid-item grid-item-small grid-item-special">
                <div class="pi-index-heading">Loks reagieren selbstständig</div>
                <p>Die <b>Loks reagieren selbständig</b> auf von
                    den Balisen übertragene Kommandos, z.B. bei:</p>
                <ul><i>
                    <li>Nothalt vor einem Prellbock</li>
                    <li>Halt im Bahnhof oder an einem roten Signal</li>
                    <li>Millimetergenaue Zielbremsung mit 2 Balisen</li>
                    <li>Langsamfahr-Abschnitte</li>
                </i></ul>
            </div>
            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Vollautomatisierung per Blocksteuerung</div>
                <p>Das funktioniert auch für Vollautomatisierung auf Basis einer Blocksteuerung.</p>
                <p>Balisen und passende Empfänger gibt es auf Basis von Infrarot für Indoor- und NFC für Outdoor-
                    Anlagen. Jedes CTC-Weichenmodul und das Multi-IO-Board hat Anschlüsse für zwei IR-Balisen.
                    NFC-Balisen werden einfach aufs Gleis gesteckt.</p>
            </div>
            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Waggonerkennung</div>
                <p>Um die Zuglänge zu ermitteln oder den Verlust von Waggons zu erkennen, können NFC-Tags unter
                    Waggons geklebt werden. Der zugehörige NFC-Reader wird unters Gleis montiert.</p>
            </div>
            <div class="grid-item grid-item-small">
                <div class="pi-index-heading">Kompatibilität und Sound</div>
                <p>CTC-Lokmodule können ein DCC-Signal erzeugen, damit z.B. ein bestehender <b>DCC-Sounddekoder</b>
                    in der Lok verbleiben kann.</p>
            </div>
            <div class="grid-item grid-item-wide">
                <div class="pi-index-heading">SUSI & Z21</div>
                <p><b>SUSI3-Soundmodule</b> können direkt an CTC-Lokmodule angeschlossen werden.</p>
                <p><b>Z21-LAN-Protokoll</b>: CTC emuliert eine Z21-Zentrale. Somit können WLAN-Handregler und auch
                    PC-Steuerungsprogramme wie iTrain genutzt werden.</p>
            </div>


            <a href="{{ site.baseurl }}/ctc-doku.html">
                <div class="grid-item grid-item-small">
                    <div class="pi-index-heading">Detailinfo und Doku</div>

                </div>
            </a>
            <a href="{{ site.baseurl }}/ctc-doku.html">
                <div class="grid-item grid-item-small">
                    <div class="pi-index-heading">Datenblätter</div>

                </div>
            </a>

            <a href="{{ site.baseurl }}/de/docu/CTC-App-Doku.html">
                <div class="grid-item grid-item-small">
                    <div class="pi-index-heading">Bedinungsanleitung</div>

                </div>
            </a>

            <a href="{{ site.baseurl }}/de/download.html">
                <div class="grid-item grid-item-small">
                    <div class="pi-index-heading">Download</div>

                </div>
            </a>

            <div class="grid-item grid-item-small ">
                <img src="{{ site.baseurl }}/assets/images/presentation/img8.jpg" width="100%"
                     alt="Modul eines Modellzugs">
            </div>

            <div class="grid-item grid-item-small ">
                <img src="{{ site.baseurl }}/assets/images/presentation/img2.jpg" width="100%"
                     alt="Module beim Umbau von Modellzuegen">
            </div>

            <div class="grid-item grid-item-small ">
                <img src="{{ site.baseurl }}/assets/images/presentation/img7.jpg" width="100%"
                     alt="Zug mit NFC Reader und NFC Tag auf dem Gleis">
            </div>

            <div class="grid-item grid-item-small ">
                <img src="{{ site.baseurl }}/assets/images/presentation/img3.jpg" width="100%"
                     alt="Verschiedene Modellzuege">
            </div>

        </div>


    </div>

</div>




