---
layout: empty_page_container
---

<style>

    .pi-special-graydient {
        background: linear-gradient(175deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 35%, rgba(226,229,234,1) 100%);
    }

</style>

<div class="pi-content-layout-wrapper">

    <img style="width: 100%" src="{{ site.baseurl}}/assets/images/top-banner.jpg" alt="Banner"/>

    <div class="pi-content-layout-wrapper-inner">

        <div class="grid-container">

            <div class="grid-item grid-item-small pi-mobile-only">
                <div class="pi-index-heading bolder"> {{ site.description }}</div>
            </div>

            <div class="grid-item grid-item-small pi-special-graydient">

                    <div class="pi-citation-wrapper">
                        <div class="pi-citation-text">
                            “Technologisch rückt die WLAN-Anwendung die Modellbahn in die Jetztzeit, so wie vor 40
                            Jahren
                            die klassischen Digitalprotokolle die Modellbahn in die damalige elektronische Jetztzeit
                            führten.”
                        </div>
                        <div class="pi-citation-source">Hans-Jürgen Götz in DiMo 3-2020</div>
                    </div>
                    <div class="pi-index-heading bolder">... so einfach gehts / Nur zwei Drähte</div>
                    <p>Ein CTC-System besteht aus folgenden Grundbausteinen:</p>
                    <ul>
                        <li><b>CTC-Lokmodule</b> zum Einbau in Lokomotiven</li>
                        <li><b>CTC-Weichenmodule</b> und CTC-Multi-IO-Board zum Schalten.</li>
                        <li>WLAN-Router oder vorkonfigurierte CTC-Router.</li>
                        <li>Spannungsversorgung (ab 9 Volt bis max. 24 Volt): Netzteil, Akkus, Batterien oder
                            die bereits vorhandene analoge oder digitale Stromversorgung.
                        </li>
                        <li><b>CTC-App</b> für PC (Linux, Mac, Windows) sowie Tablet und SmartPhone (iOS, Android).</li>
                    </ul>
                    <p>Für den Automatikbetrieb kommen noch hinzu:</p>
                    <ul>
                        <li>Positionsmelder (Balisen) zum Einbau ins Gleis und dazu passende Empfänger zum Einbau in die
                            Lok.
                            Die Balisen übermitteln auch Befehle wie z.B. <i>in 60 cm Halt vor rotem Signal</i>.
                        </li>
                        <li>NFC-Reader unterm Gleis und passende Klebetags für Waggons. Damit können Waggons erkannt
                            und Achsen gezählt werden.
                        </li>
                    </ul>


            </div>
            <div class="grid-item grid-item-small ">

                    <div class="pi-index-heading bolder">EINE Steuerung - egal ob: Strom übers Gleis, Akku oder
                        Echtdampf.
                    </div>
                    <p><i>Eine zentrale Elektronik (Digitalzentrale) benötigt CTC nicht, und auch keine Booster,
                        Bremsmodule, Sensorbusse, etc.</i></p>
                    <p>Die <b>Lokomotiven steuern sich selbst</b> und können so z.B. ohne Zutun einer zentralen
                        Steuerung punktgenau vor einem roten Signal halten, nachdem sie über eine
                        Balise vom roten Signal erfahren haben.</p>
                    <p>Alle anderen zentralen Steuerungsaufgaben übernimmt die <b>CTC-App</b>.
                        Der Betrieb mit mehreren Personen ist selbstverständlich möglich.</p>

                    <img alt="CTC-Logo WLAN" src="{{ site.baseurl }}/assets/images/ctc-wifi-control.png"
                         style="max-width: 250px;"/>
                    <p>Die Kommunikation zwischen <b>CTC-App</b> (Fahrregler, Schaltpult) und <b>CTC-Modulen</b> in z.B.
                        Loks,
                        Weichen und Signalen erfolgt ausschließlich per <b>WLAN</b> (WiFi).</p>
                    <p>Das Gleis dient höchstens noch der Stromversorgung.</p>
                    <p>Akku- und Echtdampfbetrieb lassen sich nahtlos integrieren. CTC-Loks fahren auch mit
                        Digitalstrom oder auf einer Analog-Anlage bei voll aufgedrehtem Fahrregler (Trafo).</p>


            </div>
            <div class="grid-item grid-item-small pi-special-graydient">

                    <div class="pi-index-heading bolder">Zugsicherung wie beim großen Vorbild</div>
                    <p>An Sensoren braucht es für CTC nichts anderes als Balisen im Gleis und zugehörige Empfänger in
                        der Lok - nahezu identisch zu ETCS beim großen Vorbild.</p>
                    <p>Die <b>Loks reagieren selbständig</b> auf von
                        den Balisen übertragene Kommandos, z.B. bei:</p>
                    <ul><i>
                        <li>Nothalt vor einem Prellbock</li>
                        <li>Halt im Bahnhof oder an einem roten Signal</li>
                        <li>Millimetergenaue Zielbremsung mit 2 Balisen</li>
                        <li>Langsamfahr-Abschnitte</li>
                    </i></ul>
                    <p>Das funktioniert auch für Vollautomatisierung auf Basis einer Blocksteuerung.</p>
                    <p>Balisen und passende Empfänger gibt es auf Basis von Infrarot für Indoor- und NFC für Outdoor-
                        Anlagen. Jedes CTC-Weichenmodul und das Multi-IO-Board hat Anschlüsse für zwei IR-Balisen.
                        NFC-Balisen werden einfach aufs Gleis gesteckt.</p>
                    <p>Um die Zuglänge zu ermitteln oder den Verlust von Waggons zu erkennen, können NFC-Tags unter
                        Waggons geklebt werden. Der zugehörige NFC-Reader wird unters Gleis montiert.</p>
                    <div class="pi-index-heading bolder">Kompatibilität und Sound</div>
                    <p>CTC-Lokmodule können ein DCC-Signal erzeugen, damit z.B. ein bestehender <b>DCC-Sounddekoder</b>
                        in der Lok verbleiben kann.</p>
                    <p><b>SUSI3-Soundmodule</b> können direkt an CTC-Lokmodule angeschlossen werden.</p>
                    <p><b>Z21-LAN-Protokoll</b>: CTC emuliert eine Z21-Zentrale. Somit können WLAN-Handregler und auch
                        PC-Steuerungsprogramme wie iTrain genutzt werden.</p>

            </div>


            <div class="grid-item grid-item-small">
                <div class="pi-index-heading bolder">Links zu...</div>
                <div class="pi-link-box-link"><a href="{{ site.baseurl }}/ctc-doku.html" target="_blank">Detailinfo und Doku</a></div>
            </div>
            <div class="grid-item grid-item-small">  <div class="pi-index-heading bolder">Datenblätter</div>
                <div class="pi-link-box-link"><a href="{{ site.baseurl }}/ctc-doku.html" target="_blank">Siehe Abschnitt Datenblätter</a></div>
            </div>
            <div class="grid-item grid-item-small">   <div class="pi-index-heading bolder">Bedienungsanleitung</div>
                <div class="pi-link-box-link"><a href="{{ site.baseurl }}/de/docu/CTC-App-Doku.html" target="_blank">Bedienungsanleitung CTC-App</a></div>
            </div>

            <div class="grid-item grid-item-small pi-no-mobile"><img class="pi-mountain-img" alt="CTC Flyer Berglandschaft Teil 1" src="{{ site.baseurl }}/assets/images/ctc-berge.jpg"></div>
            <div class="grid-item grid-item-small pi-no-mobile"><img class="pi-mountain-img" alt="CTC Flyer Berglandschaft Teil 2" src="{{ site.baseurl }}/assets/images/ctc-berge-2.jpg"></div>
            <div class="grid-item grid-item-small pi-no-mobile"><img class="pi-mountain-img" alt="CTC Flyer Berglandschaft Teil 3" src="{{ site.baseurl }}/assets/images/ctc-berge-3.jpg"></div>




        </div>


    </div>

</div>




