---
layout: default
---
<div class="pi-h2">CTC Online-Shop</div>
<p>Dieser Online-Shop ist für Kunden aus <b>Deutschland und den EU-Nachbarländern</b> Österreich, Niederlande, Frankreich, Belgien, Luxemburg und Dänemark verfügbar.</p>
<p>Kunden aus der <b>Schweiz und Lichtenstein</b> wenden sich bitte per <a href="mailto:info@rail4you.ch?subject=CTC Bestellung">E-Mail an info@rail4you.ch</a>.<br/>
    <b>Hinweis:</b> Die Preise in CHF entsprechen den EUR-Preisen inkl. MwSt.</p>
<p>Die für PC kostenlose <b>CTC-App</b> finden Sie im <a href="{{site.baseurl}}/de/download.html">Download-Bereich</a>.
    Dort finden Sie auch alle Informationen zu den Apps für Android und iOS.
</p>
<div class="article">
    <div class="post-content">
        <div id="my-store-112320803"></div>
        <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecommerce.ionos.de/script.js?112320803&data_platform=code&data_date=2025-02-07" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-112320803");</script>
        </div>
    </div>
</div>