---
layout: default
---

<div class="article">
{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <div class="pi-h2-alt">{{ tag[0] | capitalize }}</div>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><div class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ node.date | date: date_format }} </div><a href="{{ site.baseurl}}{{ node.url }}"> {{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
{% endfor %}    
</div>
