{% assign trans = site.data.values[site.lan] %}
<div class="content-footer">
    <div class="content-footer-inner">
        <p>{{ site.name }} - &copy;{{ site.time | date: '%Y' }} - info@ctc-system.de - <a class="special-link" href="https://pi-data.de">PI-Data AG</a>
        </p>
    </div>
</div>
</body>
</html>
