<div class="content-footer">
    <p>CTC - &copy;2023 <a href="https://pi-data.de">PI-Data AG</a>
        - thanks to

        <a href="http://jekyllrb.com/">
            Jekyll
        </a>
        <!-- not the last, output a ',' -->

        ,


        <a href="https://github.com/">
            Github
        </a>
        <!-- not the last, output a ',' -->


    </p>
    <p class="footer-column-heading">
        <br/>
        <u><b>Kontaktdaten DE und EU</b></u>:<br/>
        <a href="https://www.pi-data.de" target="_blank">PI-Data AG</a><br/>
        Finkenweg 20<br/>
        D-71134 Aidlingen<br/>
        USt-Id-Nummer: DE 814 344 759
    </p>
    <p>
        <span>Telefon:</span>
        <span class="phones">+49 (0) 700 / 74 32 82 24</span>
    </p>
    <p>
        <span>E-Mail:</span>
        <span class="emails">
            <a href="mailto:info@ctc-system.de"><span>info@ctc-system.de</span></a>
        </span>
    </p>
    <p class="footer-column-heading">
        <br/>
        <u><b>Kontaktdaten CH</b></u>:<br/>
        <a href="https://www.rail4you.ch" target="_blank">rail4you.ch<br/>Erich R. Iten</a><br/>
        Postfach 20 / Baumgartenweg<br/>
        CH-5325 Leibstadt<br/>
    </p>
    <p>
        <span>Telefon:</span>
        <span class="phones">+41 79 207 88 55</span>
    </p>
    <p>
        <span>E-Mail:</span>
        <span class="emails">
            <a href="mailto:info@rail4you.ch"><span>info@rail4you.ch</span></a>
        </span>
    </p>
    <p>
        Preise und weitere Auskünfte erhalten Sie per E-Mail / Telefon<br/>
        <a href="https://www.pi-data.de" target="_self">
            Wir verweisen auf das Impressum von www.pi-data.de
        </a>
    </p>
</div>
</body>
</html>
