


<div id="header">
    <div class="pi-header-container">
        <div class="pi-header-container-inner">
            <div class="pi-branding-container">
                <a class="pi-flex-branding" href="https://ctc-system.de/">
                    <div class="pi-branding-logo-container">
                        <img src="{{ site.baseurl }}/assets/images/logo6.png" alt="ctc logo" width="100%">
                    </div>
                    <div class="pi-branding-name-container">
                        CTC - clever train control
                    </div>
                </a>
            </div>

            <div class="pi-header-nav-container">
                {% include nav.html %}
            </div>

            <div class="pi-branding-container" style="margin-left: 20px">
                <a class="pi-flex-branding" href="{{ site.baseurl}}/shop.html">
                    <div style="align-content: center">
                        <img src="{{ site.baseurl}}/assets/images/shop-icon.png" alt="Online-Shop">
                    </div>
                    <div class="pi-branding-name-container">
                        Shop
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="pi-sub-header-container">
        <div class="pi-sub-header-container-inner">
            <div class="pi-sub-header-text">{{ site.description }}</div>
            <div class="pi-sub-header-flag-container">
                <div class="pi-sub-header-flag-container-inner">
                    <div class="flag-box">
                        <a class="language-selection-link" href="/doc/light/de{{ page.url }}"
                           title="Text auf Deutsch anzeigen">
                            <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/de.png"
                                                   height="100%"></div>
                        </a>
                    </div>
                    <div class="flag-box">
                        <a class="language-selection-link" href="/doc/light/en{{ page.url }}"
                           title="Display text in english">
                            <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/gb.png"
                                                   height="100%"></div>
                        </a>
                    </div>
                    <div class="flag-box">
                        <a class="language-selection-link" href="/doc/light/fr{{ page.url }}"
                           title="Afficher le texte en français">
                            <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/fr.png"
                                                   height="100%"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pi-mobile-nav-container">
    <details class="pi-hamburger">
        <summary class="pi-hamburger-summary">≡</summary>
        {% include nav.html %}

        <div class="pi-sub-header-flag-container">
            <div class="pi-sub-header-flag-container-inner" style="justify-content: left;padding:0.5em 0;">
                <div class="flag-box" style="padding-left: 0;">
                    <a class="language-selection-link" href="/doc/light/de{{ page.url }}"
                       title="Text auf Deutsch anzeigen">
                        <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/de.png"
                                               height="100%"></div>
                    </a>
                </div>
                <div class="flag-box">
                    <a class="language-selection-link" href="/doc/light/en{{ page.url }}"
                       title="Display text in english">
                        <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/gb.png"
                                               height="100%"></div>
                    </a>
                </div>
                <div class="flag-box">
                    <a class="language-selection-link" href="/doc/light/fr{{ page.url }}"
                       title="Afficher le texte en français">
                        <div class="flag"><img src="{{ site.baseurl }}/assets/images/countries/flags/round/fr.png"
                                               height="100%"></div>
                    </a>
                </div>
            </div>
        </div>
    </details>
    </div>

</div>