{% assign trans = site.data.values[site.lan] %}

<a href="https://www.ctc-system.de" target="_blank"><div class="pi-leftnav-box-item">CTC-System.de</div></a>
<a href="https://pi-rail.org" target="_blank"><div class="pi-leftnav-box-item">PI-Rail.org</div></a>

{% for link in site.data.links %}
<a href="{{ link.url }}" target="_blank"><div class="pi-leftnav-box-item">Diese Website basiert auf {{ link.title }}</div></a>
{% endfor %}
