<a href="{{ site.baseurl }}/ctc-doku.html" title="Zur Seite 'Dokumentation'">
    <div class="pi-header-nav-item">Dokumentation</div>
</a>
<a href="{{ site.baseurl }}/de/history.html" title="Zur Seite 'Änderungshistorie'">
    <div class="pi-header-nav-item">Änderungshistorie</div>
</a>
<a href="{{ site.baseurl }}/categories.html" title="Zur Seite 'Kategorien'">
    <div class="pi-header-nav-item">Kategorien</div>
</a>
<a href="{{ site.baseurl }}/tags.html" title="Zur Seite 'Schlagworte'">
    <div class="pi-header-nav-item">Schlagworte</div>
</a>
<a href="{{ site.baseurl }}/de/download.html" title="Zur Seite 'Download'">
    <div class="pi-header-nav-item">Download</div>
</a>
<a href="{{ site.baseurl }}/de/faq.html" title="Zur Seite 'FAQ'">
    <div class="pi-header-nav-item">FAQ</div>
</a>
<a href="{{ site.baseurl }}/about.html" title="Zur Seite 'Impressum'">
    <div class="pi-header-nav-item">Impressum</div>
</a>