<div class="pi-h2-alt">Letzte 20 Änderungen in der Bedienungsanleitung</div>
<ul>
{% assign recentPages = site.app_doku | sort: 'last_modified_at' | reverse %}
{% for page in recentPages limit:20 %}
  <li>
    <a href="{{ site.baseurl}}{{ page.url }}">{{page.last_modified_at}} - {{ page.title }}</a><br/>{{page.last_message}}

  </li>
{% endfor %}
</ul>
<div class="pi-h2-alt">Letzte 20 Änderungen an Einbauanleitungen</div>
<ul>
  {% assign recentPages = site.anschliessen | sort: 'last_modified_at' | reverse %}
  {% for page in recentPages limit:20 %}
  <li>
    <a href="{{ site.baseurl}}{{ page.url }}">{{page.last_modified_at}} - {{ page.title }}</a><br/>{{page.last_message}}
  </li>
  {% endfor %}
</ul>
<div class="pi-h2-alt">Letzte 10 Änderungen an Datenblättern</div>
<ul>
  {% assign recentPages = site.data_sheet | sort: 'last_modified_at' | reverse %}
  {% for page in recentPages limit:10 %}
  <li>
    <a href="{{ site.baseurl}}{{ page.url }}">{{page.last_modified_at}} - {{ page.title }}</a><br/>{{page.last_message}}
  </li>
  {% endfor %}
</ul>
<div class="pi-h2-alt">Letzte 10 Änderungen an Artikeln</div>
<ul>
  {% assign recentPages = site.posts | sort: 'last_modified_at' | reverse %}
  {% for page in recentPages limit:10 %}
  <li>
    <a href="{{ site.baseurl}}{{ page.url }}">{{page.last_modified_at}} - {{ page.title }}</a><br/>{{page.last_message}}
  </li>
  {% endfor %}
</ul>
