<div class="pi-leftnav-default-wrapper">

    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-info">
                Kontakt: <a href="mailto:info@ctc-system.de?subject=CTC-System">info@ctc-system.de</a>
            </div>
        </div>
    </div>
    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <a href="https://www.ctc-system.de">
                <div class="pi-leftnav-box-title">Über CTC-System</div>
            </a>
            <a href="{{ site.baseurl}}/ctc-doku.html">
                <div class="pi-leftnav-box-item">Dokumentation</div>
            </a>
            <a href="{{ site.baseurl}}/de/intro.html">
                <div class="pi-leftnav-box-item">Einführung in CTC</div>
            </a>
        </div>
    </div>

    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-title">Dokumentation</div>
            {% for page in site.pages %}
            {% if page.url contains "/de/docu/" %}
            <a href="{{ site.baseurl}}{{ page.url }}">
                <div class="pi-leftnav-box-item">{{ page.title }}</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-title">Datenblätter</div>
            {% for page in site.data_sheet %}
            <a href="{{ site.baseurl}}{{ page.url }}">
                <div class="pi-leftnav-box-item">{{ page.title }}</div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-title">Artikel rund um CTC</div>
            {% for post in site.posts %}
            <a href="{{ site.baseurl}}{{ post.url }}">
                <div class="pi-leftnav-box-item">{{ post.title }}</div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-title">Links</div>
            {% include links-list.html %}
        </div>
    </div>

</div>


<div class="pi-leftnav-mobile-wrapper">
    <div class="pi-leftnav-container">
        <div class="pi-leftnav-box">
            <div class="pi-leftnav-box-info">
                Kontakt: <a href="mailto:info@ctc-system.de?subject=CTC-System">info@ctc-system.de</a>
            </div>
        </div>
    </div>

    <details class="pi-hamburger-with-sides">
        <summary class="pi-hamburger-with-sides-summary">≡ Dokumentation</summary>
        {% for page in site.pages %}
        {% if page.url contains "/de/docu/" %}
        <a href="{{ site.baseurl}}{{ page.url }}">
            <div class="pi-leftnav-box-item">{{ page.title }}</div>
        </a>
        {% endif %}
        {% endfor %}
    </details>

    <details class="pi-hamburger-with-sides">
        <summary class="pi-hamburger-with-sides-summary">≡ Datenblätter</summary>
        {% for page in site.data_sheet %}
        <a href="{{ site.baseurl}}{{ page.url }}">
            <div class="pi-leftnav-box-item">{{ page.title }}</div>
        </a>
        {% endfor %}
    </details>

    <details class="pi-hamburger-with-sides">
        <summary class="pi-hamburger-with-sides-summary">≡ Artikel rund um CTC</summary>
        {% for post in site.posts %}
        <a href="{{ site.baseurl}}{{ post.url }}">
            <div class="pi-leftnav-box-item">{{ post.title }}</div>
        </a>
        {% endfor %}
    </details>

    <details class="pi-hamburger-with-sides">
        <summary class="pi-hamburger-with-sides-summary">≡ Links</summary>
        {% include links-list.html %}
    </details>

</div>

