---
layout: default
title: "Starter-Set 'Lok und Weiche'"
---
<h1>Starter-Set 'Lok und Weiche'</h1>
<div class="article">
    <p><img style="width: 100%" src="{{ site.baseurl}}/assets/images/top-starter.jpg" alt="Banner"/></p>

    <h2>Inhaltsverzeichnis</h2>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">
        {% for dokpage in site.starterkit %}
        <a href="{{ site.baseurl }}{{ dokpage.url }}">{{dokpage.chapter}}. {{ dokpage.title }}</a><br/>
        {% endfor %}

        <hr/>
        <a class="btn btn-default" href="{{ site.baseurl }}/de/print/Starterkit-Print.html">Druckansicht</a>
    </div>
</div>

