---
layout: default
title: "Szenarien mit CTC"
---
<h1>Szenarien mit CTC</h1>
<div class="article">
    <h2>Inhaltsverzeichnis</h2>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">
        {% for dokpage in site.szenarien %}
        <a href="{{ site.baseurl }}{{ dokpage.url }}">{{dokpage.chapter}}. {{ dokpage.title }}</a><br/>
        {% endfor %}

        <hr/>
    </div>
</div>

