@charset "UTF-8";
@media screen and (min-device-width: 101mm) and (orientation: portrait) {

/******** Main-Layout *******************************/

#main {
    display: block;
}

.sidebar-col {
    width: 95%;
}

.content-col {
    width: 95%;
}

/******** Menu *******************************/

.menu-container {
    height: fit-content;
}

.menu-mobile p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
}

#menu-desktop {
    display: none;
}

/******** Menu Mobile *******************************/

.menu-mobile {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
}

#menuToggle {
    display: block;
    position: relative;
    top: 0px;
    left: 20px;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -10px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 4; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    top: 5px;
    width: 68px;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
    background: ghostwhite;
    border-radius: 3px;
    z-index: 3;

    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -100px;
    margin-left: -50px;
    padding-top: 20px;
    padding-left: 120px;

    background-color: #eff5f8;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-150%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-text {
    color: black;
}

#menu li {
    padding: 10px 0;
    font-size: 30px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.dropbtn {
    background-color: ghostwhite;
    font-family: "Avenir Next", "Avenir", sans-serif;
    color: #232323;
    font-size: 12pt;
    box-sizing: border-box;
    border-radius: 0px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 20px;
    padding-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: #eff5f8;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 10px;
}

/* Text and Links inside the dropdown */
.dropdown-content p {
    text-decoration: none;
    display: block;
    width: auto;
    font-size: 18px;
    font-weight: bold;
}
.dropdown-content a {
    padding-top: 5px;
    color: black;
    text-decoration: none;
    display: block;
    width: auto;
    font-size: 18px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ededed;
}

/*** Sidebar ********************/

.sidebar {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

}