@charset "UTF-8";
@media screen and (min-device-width: 101mm) and (orientation: landscape) {

html, body {
    width: 1280px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: black;
}

/******** Main-Layout *******************************/

#main {
    position: relative;
    top: 110px;
    width: 1280px;
    font-size: 10pt;
    z-index: 2;
}

.content-footer {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

/******** Menu *******************************/

.menu-container {
    background-color: black;
    width: 100%;
    height: max-content;
    padding-bottom: 120px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
}

#menu-desktop {
}

/******** Menu Mobile *******************************/

.menu-mobile {
    display: none;
}

/******** Menu Desktop ********************************/

.main-menu {
    list-style: none;
    float: right;
    text-align: left;
    color: white;
    position: fixed;
    z-index: 3;
    top: -10px;
    margin: 0 auto;
    padding: 0;
    width: 1240px;
    align-items: normal;
}

.menu-text {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    /*
    font-style: normal;
    font-weight: bold;
    */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 32px;
    padding: 0 2px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-menu-text {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    /*
    font-style: normal;
    font-weight: bold;
    */
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    padding: 0 2px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 10px;
}

.menu-text:hover {
    color: orange;
}

.sub-menu-text:hover {
    color: orange;
}

.main-menu-item {
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 43px;
}

.main-menu-item:hover > .sub-span .sub-menu {
    display: block;
}

.sub-span {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: none;
    padding-top: 5px;
}

.sub-menu {
    display: none;
    list-style: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    width: 15em;
}

.sub-menu-item {
    float: none;
}

.sub-menu-item:hover > .sub-sub-span .sub-sub-menu {
    display: block;
}

.sub-sub-span {
    position: absolute;
    margin-top: -35px;
    left: 15em;
    width: 15em;
    background: none;
    padding-left: 10px;
}

.sub-sub-menu {
    display: none;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    width: 15em;
}

.sub-sub-menu-item {
    float: none;
    margin-left: 30px;
}

}