
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
    background: #eeeeee;
}

a, a:visited {
    text-decoration: none;
    color: #4199C8;
}

a:hover {
    color: #00CC77;
}

table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

th {
    padding: 1em;
}

td {
    padding: 0.5em 1em;
}

/*** HEADER ***/

#header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.pi-sub-header-text {
    width: 70%;
}

.pi-sub-header-flag-container {
    width: 28%;
    display: flex;
}

.pi-sub-header-flag-container-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flag-box {
    padding: 0.25em 0.5em;
    text-align: center;
    align-items: center;
}

.flag-box:hover {
    scale: 1.5;
}

.flag {
    height: 0.75em;
    justify-content: center;
    align-items: center;
}

.flag > img {
    display: block;
}


.pi-header-container {
    width: 100%;
    background: #286587;
    color: #fcfcfc;
}

.pi-header-container-inner {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.pi-branding-container {
    display: flex;
    width: 28%;
    justify-content: space-between;
    column-gap: 1.5em;
}


.pi-branding-name-container {
    text-align: right;
    align-content: center;
    color: #fcfcfc;
    font-weight: bold;
    font-size: 1.2em;
    float: right;
}

.pi-branding-logo-container {
    width: 4em;
    height: 4em;
    background: #fcfcfc;
    margin-top: 0.45em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #173B4F;
    transition: .3s;
}

.pi-branding-logo-container:hover {
    background: #173B4F;
}

.pi-display-block {
    display: block;
}

.pi-header-nav-container {
    width: 70%;
    display: flex;
    justify-content: right;
}

.pi-header-nav-container > a, .pi-header-nav-container > a:visited {
    text-decoration: none;
    color: #ffffff;
}

.pi-header-nav-item {
    padding: 2.5em 1em;
    font-size: 0.8em;
}

.pi-header-nav-item:hover {
    background: #173B4F;
    color: #ffffff;
}

.pi-sub-header-container {
    width: 100%;
    background: #173B4F;
}

.pi-sub-header-container-inner {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #ffffff;
    padding: 0.5em 0;
    transition: .7s;
    display: flex;
    justify-content: space-between;
}

.pi-sub-header-container-inner:hover {
    color: #ffffff;
}

.pi-flex {
    display: flex;
}

.pi-flex-branding {
    width: 100%;
    display: flex;
    column-gap: 1em;
}

.pi-branding-container > a, .pi-branding-container a:visited {
    text-decoration: none;
    color: #fcfcfc;
}

.pi-leftnav-mobile-wrapper {
    display: none;
}

#pi-main {
    margin-top: 9em;
}

#pi-main-inner {
    width: 80%;
    margin: 0 auto;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.pi-leftnav {
    width: 28%;
    background: #286587;
    color: #ffffff;
    border: 1px solid #265F7E;
}

.pi-content {
    width: 70%;
    border: 1px solid #dddddd;
    background: #fcfcfc;
    padding: 1em;
}


.pi-leftnav-box {
    background: #286587;
    padding: 1em;
}

.pi-leftnav-box-special {
    background: #272727;
    padding: 1em;
}


.pi-margin-top-1em {
    margin-top: 1em;
}

.pi-margin-top-05em {
    margin-top: 0.5em;
}

.pi-leftnav-box-title {
    padding: 0.75em 0.5em;
    font-size: 1.2em;
    width: 100%;
    background: #1C475F;
}

.pi-leftnav-box-item {
    width: 100%;
    padding: 0.5em;
}

.pi-leftnav-box-item:hover {
    width: 100%;
    background: #1C475F;
    color: #00ff95;
}

.pi-leftnav-box > a, .pi-leftnav-box > a:visited {
    text-decoration: none;
    color: #ffffff;
}

.pi-leftnav-box-info {
    width: 100%;
    padding: 0.5em;
    background: #21536E;
}

.pi-leftnav-box-info > a, .pi-leftnav-box-info > a:visited {
    color: #00ff95;
}

.pi-leftnav-box-info > a:hover {
    font-weight: bold;
}

.pi-h2 {
    width: 100%;
    padding: 0.75em 0.5em;
    background: #286587;
    border: 1px solid #286587;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
}

.pi-h2-alt {
    width: 100%;
    padding: 0.75em 0.5em;
    background: #e6e6e6;
    border: 1px solid #dddddd;
    font-size: 1.2em;
    font-weight: bold;
}

.article {
    margin-top: 0;
}

.article a {
    color: #399fdf;
}

.article a:hover {
    color: #73cb60;
}

.article li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pi-faq-item-wrapper {
    width: 100%;
    margin-top: 1em;
}

.pi-faq-item {
    width: 100%;
    padding: 2em 1em;
    margin-top: 1em;
    border: 1px solid #dddddd;
}

.pi-faq-item:hover {
    background: #ededed;
    color: #333333;
}

.post-content {
    width: 100%;
}

.post-content > h2 {
    width: 100%;
    padding: 0.75em 0.5em;
    background: #e6e6e6;
    border: 1px solid #dddddd;
    font-size: 1.2em;
}

.post-content > p > img {
    max-width: 100%;
}

.post-content > table {
    width: 100%;
    word-break: break-word;
    table-layout: fixed;
}

.post-content > table > thead {
    width: 100%;
    max-width: 100%;
}

.post-content > table > tbody > tr > td > img {
    max-width: 100%;
}


.post-content > h1, .pi-content > h1 {
    width: 100%;
    padding: 1.5em 1em;
    background: #286587;
    border: 1px solid #286587;
    color: #ffffff;
    margin: 0;
    font-size: 1.6em;
}

.post-date {
    margin-top: 1em;
    padding: 0.5em 0;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

li > .post-date {
    border-bottom: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 1em 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-default {
    color: #333;
    background-color: ghostwhite;
    border-color: #ccc
}

.btn-default:hover {
    color: #73cb60;
    background-color: ghostwhite;
    border-color: #adadad
}

a.button {
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.pi-print-hint {
    margin-top: 1em;
    width: 100%;
    padding: 0.5em 0;
    text-align: right;
}

.pi-border-top-light {
    border-top: 1px solid #cccccc;
}

.pi-border-bottom-light {
    border-top: 1px solid #cccccc;
}

.content-footer {
    width: 100%;
    background: #333333;
    margin-top: 1.5em;
}

.content-footer-inner {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
    color: #fcfcfc;
    text-align: center;
}

.special-link {
    color: #00ff95;
    transition: .7s;
}

.special-link:hover {
    color: #00ff95;
}

#pi-mobile-nav-container {
    width: 100%;
    display: none;
}

.pi-content-layout-wrapper {
    width: 100%;
    margin-top: 9em;

}

.pi-content-layout-wrapper-inner {
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
}

.pi-content-layout-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.pi-content-layout-column {
    width: 100%;
    padding: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 20px;
    width: 100%;
}

.grid-item {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-small {
    grid-column: span 1;
}

.grid-item-wide {
    grid-column: span 2;
}

.grid-item-extra-wide {
    grid-column: span 3;
    text-align: center;
}


.pi-index-heading {
    color: #333333;
    font-size: 1.5em;
    margin-top: 0;
    padding: 0.5em 0;
}

.grid-item > ul {
    margin: 10px 0;
    padding-left: 20px;
}

.grid-item > ul li {
    margin-bottom: 5px;
}

.grid-item > p {
    margin-bottom: 15px;
}

.grid-item-special {
    background: #1C475F;
    color: #ffffff;
}

.grid-item-special > .pi-index-heading {
    color: #ffffff;
    padding: 0.5em 0;
}

.pi-index-image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pi-index-image-container {
    width: 33%;
}

.grid-item-image > .pi-index-heading {
    width: 100%;
    background: #286587;
    color: #ffffff;
    padding: 0.5em 0;
    border-radius: 8px;
    margin-bottom: 0.5em;
    text-align: center;
}

a > .grid-item:hover {
    background: #286587;
    color: #ffffff;
}

a > .grid-item:hover > .pi-index-heading {
    color: #ffffff;
}

.bolder {
    font-weight: bolder;
}

.pi-citation-wrapper {
    margin-bottom: 1.5em;
}

.pi-citation-text {
    font-style: italic;
}

.pi-citation-source {
    font-weight: bolder;
    width: 100%;
    text-align: right;
    margin-top: 1em;
}

.pi-mountain-img {
    width: 100%;
}

.grid-item-mobile-only {
    display: none;
}

.pi-mobile-only {
    display: none;
}


@media (max-width: 1501px) {

    body {
        font-size: 1em;
    }

    #pi-mobile-nav-container {
        display: none;
    }

    .pi-branding-logo-container {
        width: 3.5em;
    }

    .pi-header-container-inner {
        width: 100%;
        padding-left: 0.5em;
    }

    .pi-sub-header-container-inner {
        width: 100%;
        padding-left: 0.5em;
    }

    .pi-header-nav-item {
        padding: 1.5em 0.5em;
        color: #fcfcfc;
        font-size: 1em;
    }

    .pi-content-layout-row {
        flex-direction: row;
    }

    .pi-leftnav-mobile-wrapper {
        display: none;
    }


    .pi-content-layout-wrapper {
        margin-top: 8em;
    }

    .pi-content-layout-wrapper-inner {
        width: 100%;
    }

    .pi-content-layout-column {
        padding: 0.5em;
    }

    #pi-main {
        margin-top: 8em;
    }

    #pi-main-inner {
        width: 100%;
    }

    .pi-branding-container {
        width: 25%;
    }

    .pi-header-nav-container {
        width: 75%;
    }

    .pi-branding-name-container {
        font-size: 1.1em;
    }

    .pi-main-inner {
        justify-content: normal;
    }

    .pi-leftnav {
        width: 30%;
        border-right: none;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5em;
        gap: 20px;
        width: 100%;
    }

    .grid-item-extra-wide {
        grid-column: span 2;
        text-align: center;
    }

    .grid-item-mobile-only {
        display: none;
    }

    .pi-branding-logo-container {
        height: 3em;
        width: 3em;
        margin-top: 0.5em;

    }

    .pi-mobile-only {
        display: none;
    }
}

@media (max-width: 1001px) {

    .pi-branding-container {
        display: flex;
    }

    .pi-branding-logo-container {
        display: flex;
        width:2.5em;
        height:2.5em;
    }


    .pi-content-layout-row {
        flex-direction: column;
        width: 100%;
    }

    .pi-content-layout-column {
        padding: 0.5em;
    }

    .pi-branding-container {
        width: 100%;
    }

    .pi-header-nav-container {
        display: none;
    }

    .pi-sub-header-container-inner {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
    }

    .pi-sub-header-text {
        width:100%;
    }

    .pi-sub-header-flag-container {
        width: 100%;
    }

    .flag {
        font-size: 1.2em;
    }

    #pi-mobile-nav-container {
        width: 100%;
        display: flex;
        background: #12303F;
        color: #ffffff;
        padding-left: 0.5em;
    }

    ::marker {
        display: none;
    }

    summary {
        list-style: none
    }


    .pi-hamburger {
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
    }

    .pi-hamburger-summary {
        font-size: 2em;
    }

    .pi-hamburger > a > .pi-header-nav-item {
        padding: 0.5em 0;
        font-size: 1em;
    }

    .pi-hamburger > a > .pi-header-nav-item:hover {
        color: #00ff95;
    }

    .pi-branding-name-container {
        font-size: 1.1em;
        padding: 1em 0;
    }

    #pi-main {
        margin-top: 11em;
    }

    .pi-leftnav-default-wrapper {
        display: none;
    }

    .pi-leftnav-mobile-wrapper {
        display: block;
        width: 100%;
    }

    .pi-hamburger-with-sides {
        width: 100%;
    }

    .pi-hamburger-with-sides-summary {
        padding: 0.75em 0.5em;
        font-size: 1.2em;
        width: 100%;
        background: #1C475F;
        cursor: pointer;
    }

    .pi-content-layout-wrapper-inner {
        margin-top: 7em;
        width: 100%;
    }

    #pi-main {
        margin-top: 7em;
    }

    #pi-main-inner {
        display: block;
    }

    .pi-leftnav {
        border: none;
        width: 100%;
        background: #286587;

    }

    .pi-leftnav-box {
        padding: 0 0 1em 0;
    }

    .pi-hamburger-with-sides > a {
        color: #ffffff;
    }

    .pi-hamburger-with-sides > a:hover {
        color: #00ff95;
    }

    .pi-content {
        width: 100%;
        padding: 0.5em;
    }


    .post-content > h1, .pi-content > h1 {
        width: 100%;
        padding: 1.5em 1em;
        background: #286587;
        border: 1px solid #286587;
        color: #ffffff;
        margin: 0;
        font-size: 1.2em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0.5em;
        gap: 0.5em;
        width: 100%;
    }

    .grid-item {
        padding: 0.5em;
    }

    .grid-item-small {
        width: 100%;
        grid-column: span 1;
    }

    .grid-item-wide {
        width: 100%;
        grid-column: span 1;
    }

    .grid-item-extra-wide {
        grid-column: span 1;
        text-align: center;
    }

    .grid-item-mobile-only {
        display: block;
    }


    .pi-sub-header-container {
        display: none;
    }
    .pi-no-mobile {
        display: none;
    }

    .pi-mobile-only {
        display: block;
    }

}