@charset "UTF-8";
html {
    max-width: 1350px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #286587;
}

body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #73cb60;
}

/******** Main-Layout *******************************/

#main {
    background-color: #eff5f8;
    position: relative;
    height: 100%;
    min-height: 100%;
    top: 155px;
    font-size: 10pt;
    display: flex;
}

.sidebar-col {
    width: 30%;
    min-height: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-col {
    width: 70%;
    margin-bottom: 60px;
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
}

.landing-page {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.landing-content {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: inherit;
}

.content-footer {
    position: relative;
    margin-top: 155px;
    padding-top: 5px;
    margin-left: 10px;
    text-align: center;
    width: 95%;
    height: max-content;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
}

/******** Menu *******************************/

.menu-container {
    width: 100%;
    height: max-content;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #286587;
}

.menu-logo {
    object-fit: scale-down;
    margin-bottom: 10px;
    max-width: 20%;
}

#menu-desktop {
}

/******** Menu Mobile *******************************/

.menu-mobile {
    display: none;
}

/******** Menu Desktop ********************************/

.main-menu {
    border-radius: 0;
    list-style:none;
    float:right;
    text-align: left;
    color: white;
    top: 0px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    background-color: #286587;
}

.desktop-slogan {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
}

.menu-text {
    display:block;
    color:white;
    text-decoration:none;
    font-size:16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding:0 2px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-menu-text {
    display:block;
    color:white;
    text-decoration:none;
    font-size:14px;
    /*
    font-style: normal;
    font-weight: bold;
    */
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    padding: 0 2px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 10px;
}

.menu-text:hover {
    color: #73cb60;
}

.sub-menu-text:hover {
    color: #73cb60;
}

.main-menu-item {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    box-sizing: border-box;
    color: white;
}

.main-menu-item:hover > .sub-span .sub-menu {
    display: block;
}

.sub-span {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: none;
    padding-top: 5px;
}

.sub-menu {
    display: none;
    list-style: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    width: 15em;
}

.sub-menu-item {
    float: none;
}

.sub-menu-item:hover > .sub-sub-span .sub-sub-menu {
    display: block;
}

.sub-sub-span {
    position: absolute;
    margin-top: -35px;
    left: 15em;
    width: 15em;
    background: none;
    padding-left: 10px;
}

.sub-sub-menu {
    display: none;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    width: 15em;
}

.sub-sub-menu-item {
    float: none;
    margin-left: 30px;
}

/******** Article ********************************/

/* post style */
.article {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    font-size: 17px;
    color: #28323C;
}
.article img {
    max-width: 100%;
}
/* set the link style */
.article a {
    color: #399fdf;
}
.article a:hover {
    color: #73cb60;
}
.article li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-style {
    font-size: 13px;
}
.post-date {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}


/*** Sidebar ********************/

.sidebar {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    color: #fff;
    background-color: #286587;
    font-size: 1.1em;
}
.sidebar-header {
    text-align: center;
    margin-bottom: 10px;
}
.sidebar h1 {
    font-size: 1.3em;
}
.sidebar a {
    color: ghostwhite;
    text-decoration: unset;
}
.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}
.sidebar a:hover {
    color: #73cb60;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}
.btn-default {
    color: #333;
    background-color: ghostwhite;
    border-color: #ccc
}
.btn-default:hover {
    color: #73cb60;
    background-color: ghostwhite;
    border-color: #adadad
}


/*** Footer ********************/

.content-footer img {
    vertical-align: middle;
}
.content-footer a {
    color: white;
}
.content-footer a:hover {
    color: #73cb60;
}
.content-footer p {
    margin-top: 10px;
}
