---
layout: default
---
<div class="article">
    <div class="pi-h2">{{ page.title }}</div>
    {% if page.printpage %}
        <div class="pi-print-hint pi-border-bottom-light"><a href="{{ site.baseurl}}/de/print/{{ page.printpage }}.html">Druckansicht</a></div>
    {% endif %}
    <div class="post-content">
        {{ content }}
    </div>
    {% if page.printpage %}
    <div class="pi-print-hint pi-border-top-light"><a href="{{ site.baseurl}}/de/print/{{ page.printpage }}.html">Druckansicht</a></div>
    {% endif %}
</div>
