---
layout: default
---
<h1>Bedienungsanleitung CTC-App</h1>
<div class="pagination">
    {% if page.previous.url %}
    <a class="btn btn-default"  href="{{ site.baseurl }}{{page.previous.url}}">&lt; Kapitel {{page.previous.chapter}} - {{page.previous.title}}</a>
    {% endif %}
    <a class="btn btn-default" href="{{ site.baseurl }}/de/docu/CTC-App-Doku.html">Inhaltsverzeichnis</a>
    {% if page.next.url %}
    <a class="btn btn-default" href="{{ site.baseurl }}{{page.next.url}}">Kapitel {{page.next.chapter}} - {{page.next.title}} &gt;</a>
    {% endif %}
</div>
<div class="article">
    <div class="pi-h2">{{ page.chapter }}. {{ page.title }}</div>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">
        {{ content }}
    </div>
</div>
<div class="pagination">
    {% if page.previous.url %}
    <a class="btn btn-default"  href="{{ site.baseurl }}{{page.previous.url}}">&lt; Kapitel {{page.previous.chapter}} - {{page.previous.title}}</a>
    {% endif %}
    <a class="btn btn-default" href="{{ site.baseurl }}/de/docu/CTC-App-Doku.html">Inhaltsverzeichnis</a>
    {% if page.next.url %}
    <a class="btn btn-default" href="{{ site.baseurl }}{{page.next.url}}">Kapitel {{page.next.chapter}} - {{page.next.title}} &gt;</a>
    {% endif %}
</div>
