<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CTC - Clever Train Control</title>
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/webseite-pi-data.css">
</head>

<body>
  {% include header.html %}
  <div id="main">
      {{ content }}
  </div>
  {% include footer.html %}
</body>