---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="article">
  <div class="pi-h2">{{ page.title }}</div>
  <span class="post-date">
    {% assign date_format = site.date_format.title %}
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d." }}
    {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}M&auml;rz
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
    {% endcase %}
    {{ page.date | date: "%Y" }}
  </span>
  <div class="post-content">
      {{ content }}
  </div>
</div>
<div class="pagination">
  {% if page.previous %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Vorheriger</a>
  {% endif %}
  {% if page.next %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">N&auml;chster</a>
  {% endif %}
</div>