---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="article">
  <div class="pi-h2">{{ page.title }}</div>
  <div class="post-date">
      {{page.author}},
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d." }}
      {% case m %}
        {% when '1' %}Januar
        {% when '2' %}Februar
        {% when '3' %}M&auml;rz
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ page.date | date: "%Y" }}
  </div>
  <div class="post-content">
    {{ content }}
    <hr style="border-top:1px solid #cccccc;"/>

    <!-- tags and categories under post -->
    {% unless page.categories == empty %}
    <ul class="list-unstyled list-inline">
      <li>Kategorien:</li>
      {% assign categories_list = page.categories %}
      {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
      <li class="icon-style"><a href="{{ site.baseurl }}/categories.html">
        {{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
        {% unless forloop.last %},{% endunless %}
      </a></li>
      {% endfor %}
      {% else %}
      {% for category in categories_list %}
      <li class="icon-style"><a href="{{ site.baseurl }}/categories.html">
        {{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
      </a></li>
      {% endfor %}
      {% endif %}
    </ul>
    {% endunless %}

    {% unless page.tags == empty %}
    <ul class="list-unstyled list-inline">
      <li>Schlagworte:</li>
      {% assign tags_list = page.tags %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
      <li class="icon-style">
        <a href="{{ site.baseurl }}/tags.html">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %},{% endunless %}
        </a>
      </li>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %}
      <li class="icon-style">
        <a href="{{ site.baseurl }}/tags.html">
          {{ tag[0] }} <span>({{ tag[1].size }})</span>
          {% unless forloop.last %},{% endunless %}
        </a>
      </li>

      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>
    {% endunless %}

  </div>
</div>
<div class="pagination">
  {% if page.previous %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Vorheriger</a>
  {% endif %}
  {% if page.next %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">N&auml;chster</a>
  {% endif %}
</div>