<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">

    <style>
        .print-container {
            width: 100%;
            margin: 0 auto;
            padding: 1.5em;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            font-size: 12pt;
            line-height: 1.5;
            color: #000; /* Ensures content prints in black for clarity */
            background: none; /* Removes background colors/images */
            border: none; /* Removes borders for a clean look */
            box-shadow: none; /* Removes shadows for print */
        }


        .print-container > .article > .post-content > p > img {
            display:inline-block;
        }
    </style>
</head>

<body>
<div class="print-container">
    {{ content }}
</div>



</body>