---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="article">
  <div class="pi-h2">{{ page.title }}</div>
  <div class="post-date">
      {% assign date_format = site.date_format.title %}
      Von {{page.author}}, Stand
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d." }}
      {% case m %}
      {% when '1' %}Januar
      {% when '2' %}Februar
      {% when '3' %}M&auml;rz
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </div>
  <div class="post-content">
    {{ content }}
  </div>
</div>
