---
layout: print
title:  "Anleitung CTC-App"
---
<div class="article">
    <div align="right">
        <a class="btn btn-default" href="{% link de/docu/CTC-App-Doku.html %}">Zurück</a>
        <img src="{% link assets/images/clever-train-control.png %}" />
    </div>
    <h2>Bedienungsanleitung CTC-App</h2>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">
        <h2>Inhaltsverzeichnis</h2>
        {% for app_dok in site.app_doku %}
            <a href="{{ site.baseurl }}{{ app_dok.url }}">{{app_dok.chapter}}. {{ app_dok.title }}</a><br/>
        {% endfor %}

        {% for app_dok in site.app_doku %}
            <h2>{{app_dok.chapter}}. {{ app_dok.title }}</h2>
            {{ app_dok.content }}
        {% endfor %}
    </div>
</div>

