---
layout: print
title:  "CTC-IR-Balise Druckansicht"
---
<div class="article">
    <div align="right">
        <a class="btn btn-default" href="{% link _data_sheet/CTC-IR-Sender.md %}">Zurück</a>
        <img src="{% link assets/images/clever-train-control.png %}" />
    </div>
    {% for page in site.data_sheet %}
    {% if page.url contains "CTC-IR-Sender" %}
    <h2>{{ page.title }}</h2>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">{{ page.content }}</div>
    {% endif %}
    {% endfor %}
</div>

