---
layout: print
title:  "Starter-Set 'Lok und Weiche'"
---
<div class="article">
    <div align="right">
        <a class="btn btn-default" href="{% link de/docu/Starterkit.html %}">Zurück</a>
        <img src="{% link assets/images/clever-train-control.png %}" />
    </div>
    <h2>Starter-Set 'Lok und Weiche'</h2>
    <hr style="border-top:1px solid #28323C;"/>
    <div class="post-content">
        <h2>Inhaltsverzeichnis</h2>
        {% for dokpage in site.starterkit %}
        <a href="{{ site.baseurl }}{{ dokpage.url }}">{{dokpage.chapter}}. {{ dokpage.title }}</a><br/>
        {% endfor %}

        {% for dokpage in site.starterkit %}
            <h2>{{dokpage.chapter}}. {{ dokpage.title }}</h2>
            {{ dokpage.content }}
        {% endfor %}
    </div>
</div>

